vaadin-vertical-layout, vaadin-horizontal-layout {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#main-menu-view {
    align-items: center;
    justify-items: center;
}

.product-card-layout {
    background: #312F2F;
    border-radius: 10px;
}

.product-img {
    width: 95vw;
    height: auto;
    border-radius: 20px;
}

.product-quantity {
    width: 30vw;
    height: auto;
    font-size: 1em;
}

.product-price {
    width: 40vw;
    height: auto;
    font-size: 1em;
}

.product-tax {
    width: 30vw;
    height: auto;
    font-size: 1em;
}

.product-name {
    width: 100vw;
    height: auto;
    font-size: 2em;
}

.product-description {
    width: 88vw;
    height: auto;
    font-size: 0.60em;
}

.product-add-to-basket {
    width: 88vw;
    height: auto;
    font-size: 1em;
    border-radius: 10px;
}